.card {
  margin: 20px;
  padding: 10px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(45, 50, 80, 0.582);

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
  }
}