<div class="card">
  <p class="title">Les quantités que je dois utiliser</p>
  <p *ngIf="!isInitialized">Je ne suis pas prêt</p>

  <ng-container *ngIf="isInitialized">
    <p>{{ finalFarineQty }}g de farine</p>
    <p>{{ finalEggQty }} oeuf(s)</p>
    <p>{{ finalWaterQty }}ml d'eau</p>
  </ng-container>
</div>