<div class="page-container">
  <div class="header">
    <h1 class="title">Tooling Galette 🫓</h1>
    <button class="btn-roll" (click)="rollGaletteClick()">Faire rouler la galette</button>
  </div>
  <div class="content">
    <div class="card">
      <p class="title">Ma recette</p>
      <p>Pour faire une bonne galette il faut :</p>
      <p>- De la farine 🥔</p>
      <p>- Des oeufs 🥚</p>
      <p>- De l'eau 🫗</p>
      <p>- De la bonne humeur 🙂</p>
    </div>
    <div class="card">
      <p class="title">Pour combien de personnes</p>
      <p class="personne-item" (click)="personNbrClick(1)">1 Personnes</p>
      <p class="personne-item" (click)="personNbrClick(2)">2 Personnes</p>
      <p class="personne-item" (click)="personNbrClick(3)">3 Personnes</p>
      <p class="personne-item" (click)="personNbrClick(4)">4 Personnes</p>
      <p class="personne-item" (click)="personNbrClick(5)">5 Personnes</p>
      <p class="personne-item" (click)="personNbrClick(6)">6 Personnes</p>
    </div>
    <div class="galette-viewer">
      <app-galette-viewer *ngIf="shouldDisplayViewer" [nbrPersonne]="personNbr"></app-galette-viewer>
    </div>
  </div>


</div>
