.page-container {
  background-color: #F8FAE5;
  height: 100vh;

  .header {
    background-color: #2D3250;
    display: flex;
    align-items: center;
    height: 70px;
    padding-right: 10px;

    justify-content: space-between;

    .title {
      margin-left: 20px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .btn-roll {
      background-color: #f8a460;
      border: none;
      padding: 4px 10px 4px 10px;
      height: 40px;
      border-radius: 5px;

      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #af7240;
      }
    }
  }

  .content {
    display: flex;
  }

  .card {

    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(45, 50, 80, 0.582);

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  .personne-item {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;

    &:hover {
      background-color: #2d325050;
    }
  }

  .galette-viewer {
    flex: 1;
  }

}